.report-header-data {
    label {
        font-weight: bold;
        margin-right: 1em;
    }

    margin: 2%;
}

#printButton {
    margin: auto;
    display: block;
    margin-top: 5%;
}

@media print {
    h1 {
        text-align: center;
    }

    Header, Form, Button, Footer, #printButton {
        display: none;
    }
 }